{% extends 'main.html' %}

{% block content%}

<div class="room-container">
    <div>
        <h1>{{room.name}}</h1>
        <p>{{room.description}}</p>
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for message in room_messages %}
            <div>
                {% if request.user == message.user %}
                    <a href="{% url 'delete-message' message.id%}">Delete</a>
                {% endif %}
                <small>{{message.user}}    {{message.created|timesince}} ago </small><!--timesince pravi da pishe predi kolko vreme e neshoto-->
                <p>{{message.body}}</p>
                <hr>
            </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated%}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %} <!--tova e nesho koeto pazi ot hackerski ataki da moje moq backend da poluchava informaciq samo ot moq front end ne ot drugi-->
                <input type="text" name="body" placeholder="Write your message here..."/>
            </form>
        </div>
        {% endif %}
    </div>
    <div>
        <h3>Participants</h3>
        <hr>
        {% for user in participants %}
        <div>
            <p>{{user.username}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}